[submodule "imgui"]
	path = imgui
	url = https://github.com/TheCherno/imgui
[submodule "glfw"]
	path = gflw
	url = https://github.com/TheCherno/glfw
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
